.underline-dotted {
    text-decoration-style: dotted;
}

.button-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
