.c-form-row {
    @apply flex flex-col;
}
.c-form-row-item {
    @apply py-2;
}

.c-form-row-item-distance {}
.c-form-row-item-pace {}
.c-form-row-item-time {}

@screen md {
    .c-form-row {
        @apply flex-row justify-around -mx-3;
    }
    .c-form-row-item {
        @apply mx-3;
    }
    .c-form-row-item-distance   { flex-basis: 200px; }
    .c-form-row-item-pace       { flex-basis: 250px; }
    .c-form-row-item-time       { flex-basis: 375px; }
}

@screen lg {
    .c-form-row {
        @apply flex-row justify-around -mx-6;
    }
    .c-form-row-item {
        @apply mx-6;
    }
}

@screen xxl {
    .c-form-row-item-distance   { flex-grow: 2; flex-basis: 0; }
    .c-form-row-item-pace       { flex-grow: 2; flex-basis: 0; }
    .c-form-row-item-time       { flex-grow: 3; flex-basis: 0; }
}
