.c-number-input {}

.c-number-input-portrait {
    @apply flex flex-col;
}
.c-number-input-portrait .c-number-input-input,
.c-number-input-portrait .c-number-input-input input {
    @apply text-center;
    width: 100%;
}
.c-number-input-portrait .c-number-input-unit {
    @apply text-center;
}

.c-number-input-landscape {
    @apply flex;
}
.c-number-input-landscape .c-number-input-input {
    @apply flex-1;
}
.c-number-input-landscape .c-number-input-unit {
    @apply flex-grow-0;
}
